
<header class="fixed top-0 flex items-center justify-end min-w-full px-32 shadow bg-primary-500">
  <div class="flex flex-row items-center gap-2 mr-auto text-xl font-bold text-white">
    <img src="../../../assets/Vector.svg" width="50" height="50">
    SocialFolio
  </div>
  <nav class="flex justify-center mr-10 text-white ">
    <ul class="flex justify-center gap-3 flex-nowrap ">

      <li class="flex items-center justify-center">
        <a routerLink="/feed" routerLinkActive="active"  class="flex flex-col items-center justify-center text-xl font-normal leading-5 text-center hover:text-white" style="min-height: 59px; min-width: 84px;">
          <fa-icon class="" [icon]="faGlobe"></fa-icon>
          <span class="text-smaller">Postagens</span>
        </a>
      </li>
      <li>

        <a (click)="redirecionarParaCurriculoUsuarioAtual()" class="cursor-pointer flex flex-col items-center justify-center text-xl font-normal leading-5 text-center text-white " style="min-height: 59px; min-width: 84px;">
          <fa-icon class="" [icon]="faFileLines"></fa-icon>
          <span class="text-smaller">Meu Curriculo</span>
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active" class="flex flex-col items-center justify-center text-xl font-normal leading-5 text-center text-white " style="min-height: 59px; min-width: 84px;">
          <fa-icon class="" [icon]="faUser"></fa-icon>
          <span class="text-smaller">Usuário</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
