
    <div class="wrapper mt-[6rem] max-w-6xl max-h-full pb-10 mx-auto grid grid-cols-8 grid-rows-4 gap-4 items-start ">

     <!-- Perfil Sidebar na primeira linha -->
     <app-perfil-sidebar class="col-span-2 row-span-3 mb-[2rem] "></app-perfil-sidebar>

     <!-- Sobre -->
     <article class="bg-white col-span-4 rounded-md p-2 shadow-md col-start-3 row-start-1 row-span-2 min-h-14 h-[9.8rem] overflow-auto align-middle">
       <h3 class="flex justify-center font-bold uppercase text-primary-500 font-inter pb-1.3">Sobre</h3>
       <p class="pl-1"> </p>
       <!-- <p class="pl-1"> </p>
       <p class="pl-1"> </p> -->
     </article>

     <!-- Contato -->
     <aside class="bg-white col-span-4 rounded-md p-2 shadow-md col-start-7 row-start-1 row-span-3 h-[16.4rem] overflow-auto align-middle">
      <h3 class="flex justify-center font-bold uppercase text-primary-500 font-inter pb-1.3">Contato</h3>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
     </aside>

     <!-- Experiências -->
     <article class="bg-white col-span-4 rounded-md col-start-3 row-start-3 p-2 shadow-md row-span-4 overflow-auto h-[9.8rem] align-middle">
       <h3 class= "flex justify-center font-bold uppercase text-primary-500 font-inter pb-1.3">Experiências</h3>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
     </article>

     <!-- Formações -->
     <article class="bg-white col-span-4 rounded-md col-start-3 row-start-2 p-2 shadow-md overflow-auto h-[9.8rem] align-middle">
       <h3 class= "flex justify-center font-bold uppercase text-primary-500 font-inter pb-1.3">Formações</h3>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
     </article>

     <!-- Avatares -->
     <aside class="col-start-7 row-start-3">
      <app-avatar-component></app-avatar-component>
     </aside>

     <!-- Habilidades -->
     <article class="bg-white col-span-3 rounded-md col-start-1 p-2 shadow-md row-start-4 overflow-auto align-middle">
       <h3 class= "flex justify-center font-bold uppercase text-primary-500 font-inter pb-1.3 h-[6.9rem]">Habilidades</h3>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
     </article>

     <!-- Conhecimentos -->
     <article class="bg-white col-span-3 rounded-md justify-center col-start-4 p-2 shadow-md row-start-4 overflow-auto align-middle">
       <h3 class= "flex justify-center font-bold uppercase text-primary-500 font-inter pb-1.3 h-[6.9rem]">Conhecimentos</h3>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
     </article>

     <!-- Idiomas -->
     <article class="bg-white col-span-4 rounded-md justify-center col-start-7 p-2 shadow row-start-4 overflow-auto align-middle">
       <h3 class= "flex justify-center font-bold uppercase text-primary-500 font-inter pb-1.3 h-[6.9rem]">Idiomas</h3>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
       <p class="pl-1"> </p>
     </article>

     </div>

