<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 font-inter">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img
      class="mx-auto h-10 w-auto"
      src="../../../assets/Vector.svg"
      alt="Your Company"
    />
    <h1 class="text-center font-medium text-primary-400 font-montserrat">SocialFolio</h1>
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Faça login na sua conta
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-7" [formGroup]="loginForm">
      <div>
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Email</label
        >
        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            required
            formControlName="email"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
          />
        </div>
        <small
          class="leading-none text-opacity-70 text-red-700 font-semibold text-smaller"
          *ngIf=" email.invalid && (email.dirty || email.touched) "
        >
          <div class="mt-2 ml-1" *ngIf="email.errors?.['required']">Preencha com seu email</div>
          <div class="mt-2 ml-1" *ngIf="email.errors?.['email']">O email deve ser válido</div>
        </small>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Senha</label
          >
          <div class="text-sm">
            <a
              href="#"
              class="font-semibold text-secondary-600 hover:text-secondary-500 transition duration-300"
              >Esqueci a senha</a
            >
          </div>
        </div>
        <div class="mt-2">
          <input
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            formControlName="password"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
          />
        </div>
        <small
          class="leading-none text-opacity-70 text-red-700 font-semibold text-smaller"
          *ngIf=" password.invalid && (password.dirty || password.touched) "
        >
          <div class="mt-2 ml-1" *ngIf="password.errors?.['required']">Preencha com sua senha</div>
        </small>
      </div>

      <div>
        <button
          [disabled]="loginForm.invalid"
          class="disabled:cursor-not-allowed disabled:bg-transparent disabled:text-primary-500 disabled:shadow-md disabled:border disabled:border-spacing-5 disabled:border-primary-400 cursor-pointer flex w-full justify-center rounded-md bg-primary-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 transition duration-300"
        >
          Entrar
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Ainda não faz parte da comunidade?
      <a
        [routerLink]="['/register']" routerLinkActive="active"
        href="#"
        class="font-semibold leading-6 text-secondary-600 hover:text-secondary-500"
        >Seja um membro!</a
      >
    </p>
  </div>
</div>
