<aside *ngIf="this.dadosPerfil" class="overflow-hidden bg-white border-0 rounded-lg" style="box-shadow: 0px 0px 0px 1px rgb(140,140,140,0.2)">
    <img [src]="imgCover" class="h-[75px] w-full object-cover">
    <div class="profile flex flex-col items-center justify-center mt-[-2.9rem]">
      <img
        src="{{'data:image/*;base64,' + this.dadosPerfil.avatar}}"
        class="box-content object-cover w-20 h-20 mb-2 border-2 rounded-full img-perfil border-primary-500"
      >
      <div *ngIf="!htmlDefinitivo" class="flex flex-col items-center justify-center w-full">
        <strong class="block text-lg font-semibold text-center text-primary-500 font-inter">{{this.dadosPerfil.name}}</strong>
        <div class="block w-full px-4 pb-4 mt-2 mb-1 border-b-2">
          <p class="font-thin leading-5 text-center font-inter text-smaller text-neutral-600">{{this.dadosPerfil.description}}</p>
        </div>

        <div class="flex flex-col w-full gap-2 px-4 py-2 information">
          <div *ngIf="this.dadosPerfil.profission !== null" class="flex flex-row items-center justify-between w-full">
            <strong class="font-semibold uppercase text-smaller text-neutral-400 font-inter">PROFISSÃO</strong>
            <span class="font-medium leading-none uppercase text-smaller font-inter text-primary-500">{{this.dadosPerfil.profission}}</span>
          </div>
          <div *ngIf="this.dadosPerfil.dtNasc !== null" class="flex flex-row items-center justify-between w-full">
            <strong class="font-semibold uppercase text-smaller text-neutral-400 font-inter">IDADE</strong>
            <span class="font-medium leading-none uppercase text-smaller font-inter text-primary-500">{{this.userAge}}</span>
          </div>
          <div *ngIf="this.dadosPerfil.employee !== null"class="flex flex-row items-center justify-between w-full">
            <strong class="font-semibold uppercase text-smaller text-neutral-400 font-inter">EMPREGADO</strong>
            <span *ngIf="this.dadosPerfil.employee == true" class="font-medium leading-none uppercase text-smaller font-inter text-primary-500">SIM</span>
            <span *ngIf="this.dadosPerfil.employee == false" class="font-medium leading-none uppercase text-smaller font-inter text-primary-500">NÃO</span>
          </div>
          <div *ngIf="this.dadosPerfil.city !== null" class="flex flex-row items-center justify-between w-full">
            <strong class="font-semibold uppercase text-smaller text-neutral-400 font-inter">LOCAL</strong>
            <span class="font-medium leading-none uppercase text-smaller font-inter text-primary-500">{{this.dadosPerfil.city}}</span>
          </div>
          <div *ngIf="this.dadosPerfil.recent_Education !== null" class="flex flex-row items-center justify-between w-full">
            <strong class="font-semibold uppercase text-smaller text-neutral-400 font-inter">EDUCAÇÃO</strong>
            <span class="font-medium leading-none uppercase text-smaller font-inter text-primary-500">{{this.dadosPerfil.recent_Education}}</span>
          </div>
          <div *ngIf="this.dadosPerfil.workplace !== null" class="flex flex-row items-center justify-between w-full">
            <strong class="font-semibold uppercase text-smaller text-neutral-400 font-inter">EMPRESA</strong>
            <span class="font-medium leading-none uppercase text-smaller font-inter text-primary-500">{{this.dadosPerfil.workplace.toUpperCase()}}</span>
          </div>
        </div>
      </div>
      <div *ngIf="htmlDefinitivo" class="mt-3 mb-5">
        <label class="p-2 mb-3 text-white bg-orange-300 rounded shadow-sm cursor-pointer custom-file-upload hover:bg-orange-400 shadow-gray-500">
          <input type="file" (change)="onFileSelected($event)" class="hidden">
          Escolher Imagem
        </label>
      </div>
    </div>
</aside>

<aside *ngIf="!this.dadosPerfil" class="overflow-hidden bg-white border-0 rounded-lg" style="box-shadow: 0px 0px 0px 1px rgb(140,140,140,0.2)">
  <img src="{{'data:image/*;base64,' + imgCoverPerfil}}" class="h-[75px] w-full object-cover">
  <div class="profile flex flex-col items-center justify-center mt-[-2.9rem]">
    <img
      src="{{'data:image/*;base64,' + imgProfilePerfil}}"
      class="box-content object-cover w-20 h-20 mb-2 border-2 rounded-full img-perfil border-primary-500"
    >
    <div *ngIf="!htmlDefinitivo">
      <strong class="block text-lg font-semibold text-center text-primary-500 font-inter">Victor Henri Vargas</strong>
      <p class="block px-4 pb-4 mt-2 mb-1 font-thin leading-5 text-center border-b-2 font-inter text-smaller text-neutral-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, iste fuga consectetur dicta tempore accusamus facilis assumenda. Eum aliquam quia saepe? Qui debitis, minus tempora animi eum officia totam laborum.</p>

      <div class="flex flex-col w-full gap-2 px-4 py-2 information">
        <div class="flex flex-row items-center justify-between w-full">
        <strong class="font-semibold uppercase text-smaller text-neutral-400 font-inter">PROFISSÃO</strong>
        <span class="font-medium leading-none uppercase text-smaller font-inter text-primary-500">Desenvolvedor Web</span>
        </div>
        <div class="flex flex-row items-center justify-between w-full">
          <strong class="font-semibold uppercase text-smaller text-neutral-400 font-inter">IDADE</strong>
          <span class="font-medium leading-none uppercase text-smaller font-inter text-primary-500">19</span>
        </div>
        <div class="flex flex-row items-center justify-between w-full">
          <strong class="font-semibold uppercase text-smaller text-neutral-400 font-inter">EMPREGADO</strong>
          <span class="font-medium leading-none uppercase text-smaller font-inter text-primary-500">SIM</span>
        </div>
        <div class="flex flex-row items-center justify-between w-full">
          <strong class="font-semibold uppercase text-smaller text-neutral-400 font-inter">LOCAL</strong>
          <span class="font-medium leading-none uppercase text-smaller font-inter text-primary-500">São Paulo</span>
        </div>
        <div class="flex flex-row items-center justify-between w-full">
          <strong class="font-semibold uppercase text-smaller text-neutral-400 font-inter">EDUCAÇÃO</strong>
          <span class="font-medium leading-none uppercase text-smaller font-inter text-primary-500">Faculdade SENAI</span>
        </div>
        <div class="flex flex-row items-center justify-between w-full">
          <strong class="font-semibold uppercase text-smaller text-neutral-400 font-inter">EMPRESA</strong>
          <span class="font-medium leading-none uppercase text-smaller font-inter text-primary-500">pARANOÁ</span>
        </div>
      </div>
    </div>
    <div *ngIf="htmlDefinitivo" class="mt-3 mb-5">
      <label class="p-2 mb-3 text-white bg-orange-300 rounded shadow-sm cursor-pointer custom-file-upload hover:bg-orange-400 shadow-gray-500">
        <input type="file" (change)="onFileSelected($event)" class="hidden">
        Escolher Imagem
      </label>
    </div>
  </div>
</aside>

